
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    font : normal 16px/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#centeredContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#downloadPdf{
    background-color: rgb(180, 36, 36); /* Vert élégant */
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

#downloadPdf:hover{
    background-color: #b44141; /* Un peu plus clair au survol */
    transform: translateY(-2px);
  }
  
#downloadPdf:active , #changeMeal:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#generateWeek {
    margin-right: 20px;
}

#generateWeek , #changeMeal {
    background-color: #2E8B57; /* Vert élégant */
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

#generateWeek:hover , #changeMeal:hover {
    background-color: #3CB371; /* Un peu plus clair au survol */
    transform: translateY(-2px);
  }
  
#generateWeek:active , #changeMeal:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#removeMeal{
    background-color: rgb(180, 36, 36); /* Vert élégant */
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

#removeMeal:hover{
    background-color: #b44141; /* Un peu plus clair au survol */
    transform: translateY(-2px);
  }
  
#removeMeal:active , #changeMeal:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#closePopup{
    background-color: rgb(197, 110, 29); /* Vert élégant */
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

#closePopup:hover{
    background-color: #eba336; /* Un peu plus clair au survol */
    transform: translateY(-2px);
  }
  
#closePopup:active , #changeMeal:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

td:hover{
    background-color: #d8cbca;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#popupContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}